#addManuallyButton {
    -fx-background-color: #8BC34A;
    -fx-font-size: 18;
}

#addFromXMLButton{
    -fx-background-color: #8BC34A;
    -fx-font-size: 18;
}

#backButton {
    -fx-background-color: #1976D2;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18;
}

#foodButton {
    -fx-background-color: #f4d03f;
}

#drinkButton {
    -fx-background-color: #4dabff;
}

#removeButton {
    -fx-background-color: #FF4081;
    -fx-text-fill: #ffffff;
}

#delete{
     -fx-background-color: #2196F3;
     -fx-text-fill: #ffffff;
}

#menuItemGrid {
    -fx-cell-size: 225, 200;
    -fx-background-color: #bdbdbd;
    -fx-pref-width: 950;
    -fx-pref-height: 600;
}

/*
the style taken from tabStyle.css, will be used for the tab classes across the different screens
 */

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane {
    -fx-tab-min-width: 120px;
    -fx-tab-max-width: 120px;
    -fx-tab-min-height: 50px;
    -fx-tab-max-height: 50px;
    -fx-text-fill: #ffffff;
}

.tab {
    -fx-font-family: Helvetica;
    -fx-font-size: 18;
    -fx-background-color: #1976D2;
}

.tab-label {
    -fx-text-fill: white ;
}

.tab:selected {
    -fx-background-color: #2196F3;
}

/*
some other general style stuff
 */

.root {
    /*-fx-background-color: transparent;*/
    -fx-alignment: centre;
    -fx-font-size: 12pt;
}

.label {
    -fx-text-fill: #273746;
}

.text-area {
    -fx-background-color: white;
    -fx-background-radius: 0;
}

/*
default style for buttons
 */

.button {
    -fx-background-radius: 10;
    -fx-border-color: #273746;
    -fx-border-radius: 10;
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-padding: 10;
}

.delete-button {
    -fx-background-color: RED;
}

.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: transparent;
    -fx-table-cell-border-color: -fx-box-border; /* Horizontal Lines*/
    -fx-background-color: transparent;
}

.tree-table-view .column-header {
    -fx-size: 65;
    -fx-border-style: null;
    -fx-border-color: -swatch-grey;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button, .tree-table-view .show-hide-columns-button
{
    -fx-background-color: transparent;
}

.table-view .column-header .label, .table-view .filler .label,
.table-view .column-drag-header .label, .tree-table-view .column-header .label,
.tree-table-view .filler .label, .tree-table-view .column-drag-header .label
{
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header-background, .tree-table-view .column-header-background
{
    -fx-background-color: transparent;
}

.table-row-cell, .tree-table-row-cell {
    -fx-cell-size: 40px;
}

.table-cell {
    -fx-border-color: transparent; /* Vertical Lines*/
    -fx-border-width: 1;
}