.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane {
    -fx-tab-min-width: 120px;
    -fx-tab-max-width: 120px;
    -fx-tab-min-height: 50px;
    -fx-tab-max-height: 50px;
}

.tab {
    -fx-font-family: Helvetica;
    -fx-font-size: 18;
    -fx-background-color: grey;
}

.tab:selected {
    -fx-background-color: lightyellow;
}